<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048542497988-hjjgk6c85at08qqgtjo2u785nl2pjnfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048542497988-hjjgk6c85at08qqgtjo2u785nl2pjnfr</string>
	<key>API_KEY</key>
	<string>AIzaSyCvNhN840VeqgUwY4zsEKYH9kDL5sMvq88</string>
	<key>GCM_SENDER_ID</key>
	<string>1048542497988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zahra.TechChats</string>
	<key>PROJECT_ID</key>
	<string>techchat-38e07</string>
	<key>STORAGE_BUCKET</key>
	<string>techchat-38e07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048542497988:ios:d74f1cdcbaac718bbccd91</string>
</dict>
</plist>